{% load staticfiles %}
{% include "cabecera.html" %}                            
                            <li>
                                <a href="{% url 'milocal.views.main' %}">
                                    <i class="fa fa-table fa-3x"></i>Listado Productos</a>
                            </li>   
                            <li>
                                <a class="active-menu" href="{% url 'milocal.views.add'%}"><i class="fa fa-edit fa-3x"></i>Adicionar Producto</a>
                            </li> 
                            <li>
                                <a href="{% url 'milocal.views.addmarca'%}"><i class="glyphicon glyphicon-check fa-3x"></i>Adicionar Marca</a>
                            </li>
                             <li>
                                <a href="{% url 'milocal.views.listventas'%}"><i class="glyphicon glyphicon-shopping-cart fa-3x"></i>Ventas</a>
                            </li>  
                        </ul>                   
                    </div>                
                </nav>  
                <!-- /. NAV SIDE  -->
                <div id="page-wrapper" >
                    <div id="page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Form Elements -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Adicionar nuevo Producto
                                    </div>
                                    <div class="panel-body"> 
                                        <div class="table-responsive">
                                            <form action="{% url 'milocal.views.adicionarproducto' %}" method="POST"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <table class="table table-striped">
                                                        {{ form.as_table }} 
                                                    </table>    
                                                    
                                                    <hr/>
                                                    <div align="right">
                                                        <input class="btn btn-primary" type="submit" value="Adicionar Producto"> 
                                                    </div>
                                            </form>
                                        </div>   
                                    </div>                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
{% include "footer.html" %}