{% load staticfiles %}
             <!-- JQUERY SCRIPTS -->
            <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
              <!-- BOOTSTRAP SCRIPTS -->
            <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
             <!-- DATA TABLE SCRIPTS -->
            <script src="{% static 'assets/js/dataTables/jquery.dataTables.js' %}"></script>
            <script src="{% static 'assets/js/dataTables/dataTables.bootstrap.js' %}"></script>
                <script>
                    $(document).ready(function () {
                        $('#dataTables-example').dataTable();
                    });
            </script>
            <!-- CUSTOM SCRIPTS -->
            <script src="{% static 'assets/js/custom.js' %}"></script>
            
    </body>
</html>