{% load staticfiles %}
		<script>
        $('#myModal').on('show.bs.modal', function (event) {
            var button    = $(event.relatedTarget) // Button that triggered the modal
        	var id = button.data('whatever') // Extract info from data-* attributes
            var modal     = $(this)             
            var url = /eliminarmarca/+id;

            modal.find('.modal-footer a').attr({'href': url})   
            })
         $('#myModal2').on('show.bs.modal', function (event) {
            var button    = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('whatever') // Extract info from data-* attributes
            

            var modal     = $(this)             
            var url = /eliminar/+id;

            modal.find('.modal-footer a').attr({'href': url})   
            })
        </script>        
          
    </body>
</html>