{% load staticfiles %}
{% include "cabecera.html" %}
                            <li>
                                <a  href="{% url 'milocal.views.main' %}">
                                    <i class="fa fa-table fa-3x"></i>Listado Productos
                                </a>
                            </li>   
                            <li>
                                <a href="{% url 'milocal.views.add'%}"><i class="fa fa-edit fa-3x"></i>Adicionar Producto</a>
                            </li>
                            <li>
                                <a href="{% url 'milocal.views.addmarca'%}"><i class="glyphicon glyphicon-check fa-3x"></i>Adicionar Marca</a>
                            </li> 
                            <li>
                                <a class="active-menu" href="#"><i class="glyphicon glyphicon-shopping-cart fa-3x"></i>Realizar Venta</a>
                            </li> 
                        </ul>                   
                    </div>                
                </nav>  
                <!-- /. NAV SIDE  -->
                <div id="page-wrapper" >
                    <div id="page-inner">                                                            
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Advanced Tables -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Factura de Venta
                                    </div>
                                    <div align="left"> 
                                        <br>
                                        <form id="frmventa" action="{% url 'milocal.views.ejecutarV' producto.pk %}" method="POST">
                                        {% csrf_token %}
                                         || Identificacion: <input type="number" min="1" name="idcliente" autocomplete="off" required>
                                         || Nombre cliente: <input type="text" name="nombrecliente" required> ||
                                         <hr/>
                                    </div>
                                    <br>
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th># ID</th>
                                            <th>Referencia</th>  
                                            <th>Precio</th>                                              
                                            <th>Cantidad</th>                                                
                                            <th>Descripcion</th>
                                            <th>Descuento</th>
                                            <th>Marca</th>                                                
                                            <th>Disponible</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr>
                                            <td>                                                   
                                                {{ producto.id }}
                                            </td>
                                            <td>  
                                                {{ producto.referencia }}
                                            </td>
                                            <td>  
                                                {{ producto.precio }}
                                            </td>
                                            <td>
                                                {{ producto.cantidad }} 
                                            </td> 
                                            <td>
                                                {{ producto.descripcion }} 
                                            </td>       
                                            <td>
                                                {{ producto.descuento }} 
                                            </td>                            
                                            <td>
                                                {{ marca }}
                                            </td> 
                                            <td>
                                                {{ producto.disponible }} 
                                            </td> 
                                        </tr>                                                                                                           
                                    </tbody>
                                </table>

                                <div class="panel-body">
                                    <div class="table-responsive"> 
                                        <div align="right">
                                        <hr/>                          
                                            Cantidad: <input type="number" id="cantidad"  min="0" name="cantidad" required onChange="calculo(this.value,precio.value,total);" autocomplete="off">
                                            <input type="hidden" id="precio"  name="precio" value="{{ producto.precio }}">
                                            Total a pagar: <input type="text" id="total" name="total" readonly>
                                        </form>
                                        <hr/> 
                                       
                                            <button type="submit" class="btn btn-success btn-back" form="frmventa">
                                                <i class="glyphicon glyphicon-shopping-cart fa-2x"></i>
                                            </button>
                                        </div>      
                                    </div>
                                </div>
                            </div>                   
                         </div>            
                    </div>
{% include "footer.html" %}